<!-- New Post Page -->

<div class="container mt-4">
  <h4 class="mb-4">New Post</h4>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input placeholder="Title" type="text" id="title" class="form-control" [(ngModel)]="title" name="title" required>
    </div>

    <div class="mb-3">
      <label for="body" class="form-label">Body</label>
      <textarea
        placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed ultrices dui. Pellentesque vel arcu in dui dapibus maximus quis vel ex. Vestibulum vitae eleifend massa. Donec rhoncus, neque eu blandit ullamcorper, massa ante pretium neque, eu fermentum nulla orci sit amet diam."
        id="body" class="form-control" [(ngModel)]="body" name="body" rows="8" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  @if (errorMessage) {
  <p class="text-danger mt-3">{{ errorMessage }}</p>
  }
</div>
